extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Stephanie
        p Full Stack JavaScript Developer

        .about-bio
          p I like to code. Please hire me. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li 555-555-1234
          li steph@gmail.com

        a.btn-link(href='https://www.linkedin.com/company/meowingtons' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/stephc23' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/meowingtons__' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back